# --- Environments ---
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Distribution / Packaging ---
dist/
build/
*.egg-info/

# --- Unit Test / Coverage reports ---
.pytest_cache/
.coverage
htmlcov/

# --- Jupyter Notebooks ---
.ipynb_checkpoints

# --- IDE / Editors ---
.vscode/
.idea/
*.swp

# --- OS Generated ---
.DS_Store
Thumbs.db

/dataset
/general